<div class="usuario-container">
    <div class="header">
        <mat-form-field appearance="outline" class="search-field">
            <button mat-icon-button matPrefix class="search-button">
                <mat-icon>search</mat-icon>
            </button>
            <input matInput placeholder="Buscar Atendente ou Admin" />
        </mat-form-field>
    </div>
    <div class="add-button-container">
        <button mat-raised-button color="primary" class="add-button" (click)="adicionarAtendente()">
            Adicionar Atendente
        </button>
    </div>
    <h2 class="title">Atendentes</h2>
    <table mat-table [dataSource]="atendentes" class="mat-elevation-z8">
        <ng-container matColumnDef="nome">
            <th mat-header-cell *matHeaderCellDef> Nome </th>
            <td mat-cell *matCellDef="let atendente"> {{ atendente.nomecompleto }} </td>
        </ng-container>

        <ng-container matColumnDef="contato">
            <th mat-header-cell *matHeaderCellDef> Contato </th>
            <td mat-cell *matCellDef="let atendente"> {{ atendente.telefone }} </td>
        </ng-container>

        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> E-mail </th>
            <td mat-cell *matCellDef="let atendente"> {{ atendente.email }} </td>
        </ng-container>

        <ng-container matColumnDef="papel">
            <th mat-header-cell *matHeaderCellDef> Especialidade </th>
            <td mat-cell *matCellDef="let atendente"> {{ atendente.especialidadeAtendimento }} </td>
        </ng-container>

        <ng-container matColumnDef="acoes">
            <th mat-header-cell *matHeaderCellDef> Ações </th>
            <td mat-cell *matCellDef="let usuario">
                <button mat-icon-button color="primary" (click)="editarAtendente(usuario.id)">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button color="warn" (click)="deletarAtendente(usuario.id)">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>
