<div class="atendimento-form-container">
  <h1 class="titulo">Formulário de Atendimento</h1>

  <form [formGroup]="atendimentoForm" (ngSubmit)="onSubmit()">
    <div class="form-grid">
      <div class="campo">
        <label for="dataDeAtendimento">Dia do Atendimento:</label>
        <input id="dataDeAtendimento" formControlName="dataDeAtendimento" type="date" />
      </div>
      <div class="campo">
        <label for="horarioDeAtendimento">Horário do Atendimento:</label>
        <input id="horarioDeAtendimento" formControlName="horarioDeAtendimento" type="time" />
      </div>
      <div class="campo">
        <label for="tipoDeAtendimento">Tipo de Atendimento:</label>
        <select id="tipoDeAtendimento" formControlName="tipoDeAtendimento" [compareWith]="compararTipos">
          <option *ngFor="let tipo of tiposDeAtendimento" [ngValue]="tipo">
            {{ tipo }}
          </option>
        </select>

      </div>
      <div class="campo">
        <label for="atendente">Atendente:</label>
        <input id="atendente" formControlName="atendente" type="text" />
      </div>
      <div class="campo">
        <label for="especialidade">Especialidade:</label>
        <select id="especialidade" formControlName="especialidade">
          <option *ngFor="let especialidade of especialidades" [value]="especialidade">
            {{ especialidade }}
          </option>
        </select>
      </div>
      <div class="campo">
        <label for="medico">Profissional:</label>
        <input id="medico" formControlName="medico" type="text" />
      </div>
      <div class="campo">
        <label for="paciente">Paciente:</label>
        <input id="paciente" formControlName="paciente" type="text" />
      </div>
    </div>

    <div class="botoes">
      <button type="submit" class="btn-salvar">Salvar</button>
      <button type="button" class="btn-cancelar" (click)="cancel()">Cancelar</button>
    </div>
  </form>
</div>