<form [formGroup]="formularioLogin" (ngSubmit)="fazerLogin()">
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Usuário</mat-label>
    <img src="assets/imagens/person.svg" alt="Usuário" class="menu-icon" matPrefix />
    <input matInput type="text" placeholder="Digite seu CPF" formControlName="cpf" />
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Senha</mat-label>
    <img src="assets/imagens/lock.svg" alt="Senha" class="menu-icon" matPrefix />
    <input matInput type="password" placeholder="Digite sua senha" formControlName="senha" />
  </mat-form-field>

  <div class="options">
    <mat-checkbox>Lembrar-senha</mat-checkbox>
    <a routerLink="/forgot-password" class="forgot-password-link">Esqueci minha senha</a>
  </div>

  <button mat-raised-button color="primary" class="full-width login-button" type="submit">Login</button>
</form>
