<mat-card class="login-card">
  <form>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Usuário</mat-label>
      <mat-icon matPrefix>person</mat-icon>
      <input matInput type="text" placeholder="Digite seu usuário" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Senha</mat-label>
      <mat-icon matPrefix>lock</mat-icon>
      <input matInput type="password" placeholder="Digite sua senha" />
    </mat-form-field>

    <div class="options">
      <mat-checkbox>Lembrar-senha</mat-checkbox>
      <a routerLink="/forgot-password" class="forgot-password-link">Esqueci minha senha</a>    
    </div>
    <button mat-raised-button color="primary" class="full-width login-button">Login</button>
  </form>
</mat-card>