<mat-card class="login-card">
  <form>
    <h2 class="title">REDEFINIÇÃO DE SENHA</h2>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Nova senha</mat-label>
      <mat-icon matPrefix>lock</mat-icon>
      <input matInput type="password" [(ngModel)]="newPassword" name="newPassword" [ngModelOptions]="{standalone: true}" placeholder="Digite a nova senha" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Confirme a nova senha</mat-label>
      <mat-icon matPrefix>lock</mat-icon>
      <input matInput type="password" [(ngModel)]="confirmPassword" name="confirmPassword" [ngModelOptions]="{standalone: true}" placeholder="Confirme a nova senha" />
    </mat-form-field>

    <button mat-raised-button color="primary" class="full-width login-button" (click)="onResetPassword()">
      Redefinir
    </button>
  </form>
</mat-card>