<div class="pacientes-container">
  <h2 class="title">Todas as Especialidades</h2>

  <div class="content">
    <div class="left-panel">
      <mat-form-field appearance="outline" class="search-field">
        <button mat-icon-button matPrefix class="search-button">
          <img src="assets/imagens/search.svg" alt="Buscar" class="menu-icon" />
        </button>
        <input matInput placeholder="Buscar Especialidade" [(ngModel)]="termoBuscaAtual" (input)="get(termoBuscaAtual)" />
      </mat-form-field>
      <div class="add-button-container">
        <button mat-raised-button color="primary" class="add-button" (click)="cadastrar()">
          Cadastrar Especialidade
        </button>
      </div>
    </div>

    <div class="right-panel">
      <div class="pacientes-list">
        <div class="paciente-item" *ngFor="let especialidade of registros; let i = index">
          <span>{{ especialidade.nome }}</span>
          <div class="acoes">
            <button mat-icon-button color="primary" (click)="editar(especialidade)">
              <img src="assets/imagens/edit.svg" alt="Editar" class="menu-icon" />
            </button>
            <button mat-icon-button color="warn" (click)="delete(especialidade.id)">
              <img src="assets/imagens/delete.svg" alt="Excluir" class="menu-icon" />
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>