<mat-card class="login-card">
  <form>
    <h2 class="title">REDEFINIÇÃO DE SENHA</h2>
    <p class="description">Informe seu email ou usuário e enviaremos um link para redefinir sua senha.</p>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>E-mail</mat-label>
      <mat-icon matPrefix>mail</mat-icon>
      <input matInput type="email" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" placeholder="Digite seu e-mail" />
    </mat-form-field>

    <button mat-raised-button color="primary" class="full-width login-button" (click)="onSubmit()">
      Próximo
    </button>
  </form>
</mat-card>